{% extends '_base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}

 <!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out" style="padding-top: 50px;">
      <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
        <h2>Добавьте регион</h2>


            <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
       {{form.as_p}}
        <button class="btn btn-info" type="submit" value="Сактоо">Сактоо</button>
    </form>


      </div>
    </div>
    <!-- End Page -->
{% endblock %}