{% extends '_base.html' %}
{% block title %}Sign Up{% endblock %}
{% load i18n %}
{% block content %}
 <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out" style="padding-top: 50px;">
      <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
<h2>Пароль өзгөртүү</h2>
<p>Сураныч, коопсуздук максатында сиздин эски сырсөздү жазыңыз, андан кийин,
биз аны туура киргизгендигин текшерүү үчүн, эки жолу жаңы сырсөздү жазыңыз.</p>



            <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
       {{form.as_p}}
        <button class="btn btn-info" type="submit" value="Сактоо">{% trans "Сактоо" %}</button>
    </form>
</div>
</div>
{% endblock %}
