<!DOCTYPE html>
{% load static i18n %}
<html class="no-js css-menubar" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="">

    <title>{% trans "Каттоо" %} | Кыргыз Оймолору</title>

    <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-extend.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/site.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/examples/css/forms/validation.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/formvalidation/formValidation.css' %}">

    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'assets/vendor/animsition/animsition.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/asscrollable/asScrollable.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/switchery/switchery.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/intro-js/introjs.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/slidepanel/slidePanel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/flag-icon-css/flag-icon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/examples/css/pages/register.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/select2/select2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/examples/css/forms/advanced.css' %}">


    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'assets/fonts/web-icons/web-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/brand-icons/brand-icons.min.css' %}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
    <script src="{% static 'assets/vendor/html5shiv/html5shiv.min.js' %}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{% static 'assets/vendor/media-match/media.match.min.js' %}"></script>
    <script src="{% static 'assets/vendor/respond/respond.min.js' %}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{% static 'assets/vendor/breakpoints/breakpoints.js' %}"></script>
    <script>
      Breakpoints();
    </script>
  </head>
  <body class="animsition page-register layout-full page-dark">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
        <div class="brand">
          <img class="brand-img" src="{% static 'img/logo/logo.png' %}" alt="...">
        </div>
        <p>{% trans "Биздин сайттан катталыңыз" %}</p>
        <form method="post" enctype="multipart/form-data" novalidate="novalidate">
        {% csrf_token %}
          {{form.as_p}}
          <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-block" >{% trans "Катталуу" %}</button>
                  </div>

        </form>
        <p>{% trans "Сизде акаунтуңуз барбы? Анда биздин сайтка" %}<a href="{% url 'login' %}"> {% trans "кириңиз" %}</a></p>

       <footer class="page-copyright page-copyright-inverse">
          <p>Сайт сделан <a href="http://infis.kg">Infis Studio</a></p>
          <p>© 2019. All RIGHT RESERVED.</p>

        </footer>
      </div>
    </div>
    <!-- End Page -->


    <!-- Core  -->
    <script src="{% static 'assets/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/popper-js/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/animsition/animsition.js' %}"></script>
    <script src="{% static 'assets/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'assets/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/asscrollable/jquery-asScrollable.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/vendor/switchery/switchery.js' %}"></script>
    <script src="{% static 'assets/vendor/intro-js/intro.js' %}"></script>
    <script src="{% static 'assets/vendor/screenfull/screenfull.js' %}"></script>
    <script src="{% static 'assets/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

        <script src="{% static 'assets/vendor/formvalidation/formValidation.min.js' %}"></script>
        <script src="{% static 'assets/vendor/formvalidation/framework/bootstrap4.min.js' %}"></script>

    <!-- Scripts -->
    <script src="{% static 'assets/js/Component.js' %}"></script>
    <script src="{% static 'assets/js/Plugin.js' %}"></script>
    <script src="{% static 'assets/js/Base.js' %}"></script>
    <script src="{% static 'assets/js/Config.js' %}"></script>

    <script src="{% static 'assets/js/Section/Menubar.js' %}"></script>
    <script src="{% static 'assets/js/Section/Sidebar.js' %}"></script>
    <script src="{% static 'assets/js/Section/PageAside.js' %}"></script>
    <script src="{% static 'assets/js/Plugin/menu.js' %}"></script>

    <!-- Config -->
    <script src="{% static 'assets/js/config/colors.js' %}"></script>
    <script src="{% static 'assets/js/config/tour.js' %}"></script>
    <script>Config.set('assets', '../../assets');</script>
    <script src="{% static 'assets/examples/js/forms/validation.js' %}"></script>

    <!-- Page -->
    <script src="{% static 'assets/js/Site.js' %}"></script>
    <script src="{% static 'assets/js/Plugin/asscrollable.js' %}"></script>
    <script src="{% static 'assets/js/Plugin/slidepanel.js' %}"></script>
    <script src="{% static 'assets/js/Plugin/switchery.js' %}"></script>
        <script src="{% static 'assets/js/Plugin/jquery-placeholder.js' %}"></script>

        <script src="{% static 'assets/examples/js/tables/footable.js' %}"></script>
        <script src="{% static 'assets/vendor/select2/select2.full.min.js' %}"></script>
        <script src="{% static 'assets/examples/js/forms/advanced.js' %}"></script>
    <script>
      (function(document, window, $){
        'use strict';

        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });
      })(document, window, jQuery);
    </script>

  </body>
</html>