{% extends '_base.html' %}
{% load static i18n %}
{% block content %}
    <!-- Page -->
    <div class="page">
      <div class="page-header">
        <h1 class="page-title">{% trans "Катталуучулардын тизмеси" %}</h1>

      </div>

      <div class="page-content container-fluid">

        <div class="row">
          <div class="col-xl-12">
            <!-- Panel Filtering rows -->
            <div class="panel">
              <header class="panel-heading">
                <h3 class="panel-title">{% trans "Колдонуучулардын тизмеси" %}</h3>
              </header>
              <div class="panel-body">
                <table class="table table-bordered table-hover toggle-circle" id="exampleFootableFiltering"
                  data-paging="true" data-filtering="true" data-sorting="true">
                  <thead>
                    <tr>
                      <th data-name="id" data-type="number" data-breakpoints="xs">№</th>
                      <th data-name="firstName">{% trans "Аты-жөнү" %}</th>
                      <th data-name="status">{% trans "Баскычы" %}</th>
                      <th data-name="something" data-visible="true" data-filterable="false">{% trans "Катталган күнү" %}</th>
                      <th data-name="jobTitle" data-breakpoints="xs sm">{% trans "Тел номуру" %}</th>
                      <th date-name="image">{% trans "Чектин сүрөтү" %}</th>
                      <th date-name="by_whom">{% trans "Кимге байланган" %}</th>
                      <th date-name="followers">{% trans "Катталгандын саны" %}</th>
                      {% if user.is_superuser %}
                      <th data-name="lastName">{% trans "Башкаруу" %}</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for list in object_list %}
                     {% if list.status == False %}
                            {% if  list.is_staff %}
                            {% else %}
                    <tr>

                                <td class="counterCell"></td>
                                <td style="text-align: left">{{ list.username }}</td>
                                <td>{{ list.level }}</td>
                                <td>{{ list.registration_date }}</td>
                                <td>{{ list.phone_number }}</td>
                                <td><!-- Example Center -->
                          <img  src="{{ list.check_image.url}}" height="20" onclick="changeSizeImage(this)" />
                          <script language = "JavaScript">
var bigsize = "400"; //Размер большой картинки
var smallsize = "20"; //Размер маленькой картинки
function changeSizeImage(im) {
  if(im.height == bigsize) im.height = smallsize;
  else im.height = bigsize;
}
</script>
<style>
.del { display: none; }
.del:not(:checked) + label + * { display: none; } /* фактически нужна только одна строка */

/* вид CSS кнопки */
.del:not(:checked) + label,
.del:checked + label {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 2px;
  color: #fff;
  background: #4e6473;
  cursor: pointer;
}
.del:checked + label {
  background: #e36443;
}
</style>
                        </td>
                                <td>{{list.by_whom.username}}</td>
                                <td>{{ list.by_whom.followers }}</td>
                                <td>
                                {% if user.is_superuser %}
                                    <a href="{% url 'user_detail' list.pk %}"
                                       style="background:#0028ff94; color:#fff; font-weight:700; font-size:13px; padding:4px 12px; border-radius: 6px;"><i
                                            class="icon  wb-user"></i></a>
                                            {% if list.by_whom.followers < 3 or list.by_whom.followers == None %}
                                    <a href="{% url 'change_status' list.pk %}"
                                       style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;"><i
                                            class="icon  wb-check"></i></a>
                                            {% endif %}
                                    <a href="{% url 'user_update' list.pk %}"
                                       style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;"><i
                                            class="icon  wb-settings"></i></a>
                                    <a href="{% url 'user_delete' list.pk %}"
                                       style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                            class="icon wb-trash"></i></a>

                    {% endif %}
                                </td>
                    </tr>

                            {% endif %}
                        {% endif %}
                {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Panel Filtering -->
          </div>

        </div>
      </div>
    </div>
    <!-- End Page -->

{% endblock %}